<label class="switch">
  <input class="switch-input" type="checkbox" id="statusToggler" onclick="updateStatus();" checked />
  <span class="switch-label" data-on="Available" data-off="Busy"></span>
  <span class="switch-handle"></span>
</label>
