<h2>Create Profile:</h2>
<form action="/profiles" method="post">
  <p>Full-name: <input type="text" name="full_name" required></p>
  <p>Age: <input type="text" name="age" required></p>
  <p>Gender: <input type="text" name="gender" required></p>
  <p>Address: <input type="text" name="address" required></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>

<br />
<p>Logged in as: <%=current_user.username %></p>
