/*

Dragonfly Template

http://www.templatemo.com/preview/templatemo_378_dragonfly

*/



.container {
  padding: 16px;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.detail_title {
  font-size: 1.2em;
  text-decoration: underline;
}

#big_container {
  display: flex;
  flex-direction: row;
}

#review {
  align-self: center;
  background-color: #f0f0f2;
  width: 58%;
  height: 360px;
  padding: 25px 50px 25px 50px;
  margin-top: 3%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-left: 0%;
  border-radius:5px;
  overflow-x: hidden;
  overflow-y: auto;
}

form {
    margin-top: 0%;
    background-color: #f0f0f2;
    width: 60%;
		height: 60%;
    align-self: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

img.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.entry {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.entry1 {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.entry2 {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}

#p_prof {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

span {
  color: #DEB887;
}

.scrollbar {
    background-color: #fff;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;

}

.style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb {
    background-color: #DEB887;
}

.style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#usrfrm {
  animation: left_to_right 3s ease;
}

button {
  margin: 12px 0;
  background-color: #DEB887;
  cursor: pointer;
  width: 80px;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}

.show-container {
  width: 15%;
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 3%;
  background-color:#f0f0f2;
  padding: 25px 50px 25px 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius:5px;
}

#date {
  color: green;
  font-weight: bold;
}

.sprite {
    background: url("../img/rating.png") no-repeat;
}


#msgbox {
  width: 500px;
  height: 445px;
  position: relative;
  left: -40px;
  top: -310px;
	color: black;
  background-color: white;
  text-align: left;
  max-height: 445px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:#f0f0f2;
  padding: 5px 10px 5px 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}






body {
	margin: 0;
	padding: 0;
	color: #ddd;
	font-size: 13px;
	line-height: 1.6em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #262626;
	background-image:url(/templatemo_body.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}

a, a:link, a:visited { color: #99CC99; font-weight: normal; text-decoration: none }
a:hover { color: #FF6600; text-decoration: none; }

ul, li {
	padding:0;
	margin:0;
	list-style:none;
}

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal; }
h1 { font-size: 36px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

p { padding: 0; margin: 0 0 15px 0; color: black; }

.clear {
	clear:left;
}

blockquote.testimonial_block { margin: 0; background: url(images/comment.png) left top no-repeat; padding-left: 80px }
cite { font-weight: bold; color:#fff; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #ccc; }


.list_bullet { margin: 10px 0 10px 15px; padding: 0; list-style: none }
.list_bullet li { color:#fff; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(images/templatemo_list.png) no-repeat scroll 0 6px  }
.list_bullet li a { color: #fff; font-weight: normal; text-decoration: none }
.list_bullet li a:hover { color: #fff }

.no_bullet { margin: 0; padding: 0; list-style: none }
.no_bullet li { margin: 0 0 20px 0; padding: 0 }
a.header { display: block; font-weight: 700 }

.half { width: 250px }

.h20 { height: 20px }
.h40 { height: 40px }

img { margin: 0; padding: 0; border: none }
.img_border { padding: 7px; border: 1px solid #3b3b3b; background: #141414; }
.img_nom { display: inline-block; margin-bottom: 15px }
.img_fl { float: left; margin: 3px 25px 5px 0 }
.img_fr { float: right; margin: 3px 0 5px 25px }

.left { float: left }
.right { float: right }

#templatemo_wrapper {
	width: 802px;
	margin: 0 auto;
	position: relative;
}

#templatemo_header {
	position: absolute;
	width: 120px;
	height: 500px;
	top: 20px;
	left: 20px;
	padding: 40px 20px 20px;
	z-index: 100;
	text-align: right;
	color: #000;
	font-size: 11px;
	background: url(images/templatemo_header.png)
}

#templatemo_main {
	width: 800px;
	height: 600px;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid #131313;
	border-top: none;
}

#templatemo_footer_wrapper  {
	width: 100%;
	background: url(images/templatemo_footer.png) center top no-repeat
}
#templatemo_footer {
	width: 780px;
	margin: 0 auto;
	padding: 20px 20px;
	text-align: right
}

#site_title {
	display: block;
	width: 120px;
	height: 60px;
	margin-bottom: 70px;
	border-bottom: 1px dashed #666;
	text-indent: -10000px
}

#site_title a {
	display: block;
	width: 120px;
	height: 60px;
	background: url(/img/logo2.png) no-repeat center top;
	text-indent: -10000px
}

#templatemo_header .nav_menu {
	width: 120px;
	margin: 0 0 80px 0;
	padding: 0;
	list-style: none
}

#templatemo_header .nav_menu li {
	margin: 0;
	padding: 0;
	list-style: none
}

#templatemo_header .nav_menu li a {
	display: block;
	line-height: 28px;
	color: #444444;
	font-size: 24px;
	text-align: right;
}

#templatemo_header .nav_menu li a:hover {
	color: #000
}

.social_button { display: block; text-align: right; height: 24px; margin-bottom: 30px }
.social_button a { display: block; float: right; width: 24px; height: 24px; margin-left: 10px; }

#templatemo_header a { color: #000 }

#content{
	overflow:hidden;
	width: 7000px;
	position:relative;
	height: 600px;
}

.section {
	position:relative;
	float:left;
	width: 560px;
	height: 520px;
	padding: 40px 20px 40px 220px;
	margin-right: 20px;
	background: #1c1c1c;
}

.home_slider {
	float: left;
	width: 800px;
	height: 600px;
	margin-right: 20px;
}

#content .section h1 { padding-top: 30px }

#content .box_content h2 { color: #fff; font-size: 18px; margin-bottom: 5px; font-weight: 700 }

#gallery_wrapper {
}

#gallery_wrapper li {
	width: auto;
	height: auto;
	float: left;
	width: 140px;
	height: 100px;
	background: none;
}

#gallery_wrapper li a {
	display: block;
}

#gallery_wrapper li a img  { }

#contact_form { padding: 0; width: 250px }
#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field {
	width: 240px;
	height: 18px;
	padding: 5px;
	color: #666666;
	border: 1px solid #3b3b3b;
	background: #141414;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#contact_form form label { display: block; font-size: 11px; margin-bottom: 5px; }

#contact_form form textarea {
	clear: both;
	width: 240px;
	height: 150px;
	padding: 5px;
	color: #666666;
	border: 1px solid #3b3b3b;
	background: #141414;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#contact_form form .submit_btn {
	color: #FFFFFF;
	cursor:pointer;
	border: 1px solid #3b3b3b;
	background: #141414;
	padding: 6px 12px;
}
