<div id="innerStatusBox" class="style-1" style="display: block;">
<table style="width: 260px; ">
<% Employee.all.each_with_index do |e,i| %>
<tr>
  <td> <%= "#{e.name.split(' ').first} #{e.name.split(' ').last[0].capitalize}." %> </td>
    <% if e.status == -1 %>
      <%  c = "red" %>
    <% elsif e.status == 0 %>
      <%  c = "yellow" %>
    <% else %>
      <%  c = "green" %>
  <% end %>

  <td style="color:<%= c %>; font-weight: bold; font-size: 22px;"> &bull; </td>
  <% if (c == "green") %>
    <td> <button id="cidBtn-<%= e.id %>" onclick="chatInit(this.id);" style="width: 45px; height: 30px;">Chat</button> </td>
  <% end %>
</tr>
<% end %>
</table>
</div>
