<form class="entry" action='/users/<%=@current_user.id%>/form' method='POST' id='details' onload="toggleForms()">
  <div id='frm' style='height: 671px;'>
    
<div id='petfrm' style='z-index: 1; position: relative; top: -671px; visibility: hidden;'>
<h1>pet_info_form</h1>
<p id='p_prof'>PET'S <span>INFORMATION:</span></p>
<div class='imgcontainer'>
    <img src='/patient.svg' alt='Avatar' class='avatar'>
</div>

<div class='container'>
    <label class='pet_name' for='pet_name'><b>Name:</b></label>
    <input class='pet_name' type='text' placeholder='Enter your pet&#39;s name here...' name='pet_name' required>

    <label class='pet_age' for='pet_age'><b>Age:</b></label>
    <input class='pet_age' type='text' placeholder='Enter your pet&#39;s age here...' name='pet_age' required>

    <label class='gender' for='gender'><b>Gender:</b></label>
    <select name='pet_gender' form='details' id='gender'>
        <option value='Male'>Male</option>
        <option value='Female'>Female</option>
    </select>

    <label class='address' for='address'><b>Breed:</b></label>
    <input type='text' class='address' placeholder='Enter your pet&#39;s breed here...' name='breed' required>
    <button id='prvBtn'>Previous</button>
    <button type='submit'>Submit</button>
</div>
</div>

</div>
</form>
