<h2>Users</h2>

<% unless locals.empty? %>
  <%= message %>
<% end %>


<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username" required></p>
  <p>Email: <input type="text" name="email" required></p>
  <p>Password: <input type="text" name="password" required></p>
  <input class="btn btn-primary" type="submit">
</form>


<br />
<a href="/login"> Sign In? </a>
