



form {
    margin-top: 5%;
    background-color: #f0f0f2;
    width: 20%;
    align-self: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

input[type=email], input[type=password], input[type=text], input[type=radio], input[type=date], textarea, select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

#date {
  color: green;
  font-weight: bold;
}

#msgbox {
  width: 600px;
  height: 400px;
  background-color: white;
  text-align: left;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:#f0f0f2;
  padding: 25px 50px 25px 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
